

.desktophd {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 2468px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.desktophd .rectangle {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 997px;
  height              : 1475px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .himatthewu2014thisi {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1272px;
  height              : auto;
  width               : 682px;
  position            : absolute;
  margin              : 0;
  left                : 92px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 31.0px;
}
.desktophd .himatthewu2014thisi .span1 {
  line-height         : 48.0px;
}
.desktophd .himatthewu2014thisi .span2 {
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 31.0px;
  line-height         : 37.0px;
}
.desktophd .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 365px;
  height              : 851px;
  width               : 1524px;
  position            : absolute;
  margin              : 0;
  left                : -41px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .rectangle2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 797px;
  height              : 86px;
  box-sizing          : border-box;
  width               : 518px;
  position            : absolute;
  margin              : 0;
  left                : 469px;
  border-radius       : 11px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .rectangle3 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 941px;
  height              : 86px;
  box-sizing          : border-box;
  width               : 518px;
  position            : absolute;
  margin              : 0;
  left                : 469px;
  border-radius       : 11px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .yourlocation {
  background-color    : rgba(255,255,255,0.0);
  top                 : 827px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 510px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 25.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.desktophd .choosedestination {
  background-color    : rgba(255,255,255,0.0);
  top                 : 969px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 508px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 25.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.desktophd .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 822px;
  height              : 48px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 367px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .oval1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 964px;
  height              : 48px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 367px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .oval2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 978px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 381px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .logyourtravels {
  background-color    : rgba(255,255,255,0.0);
  top                 : 469px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 553px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 48.0px;
}
.desktophd .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 896px;
  height              : 30px;
  width               : 57px;
  position            : absolute;
  margin              : 0;
  left                : 1031px;
  -ms-transform       : rotate(-90deg); /* IE 9 */
  -webkit-transform   : rotate(-90deg); /* Chrome, Safari, Opera */
  transform           : rotate(-90deg);
}
.desktophd .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1090px;
  height              : 83px;
  width               : 1441px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .group .rectangle8 {
  background-color    : rgba(100, 218, 191, 1.0);
  top                 : 0px;
  height              : 83px;
  width               : 1441px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .group .youhavesuccessfull {
  background-color    : rgba(255,255,255,0.0);
  top                 : 25px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 463px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 28.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 34.0px;
}
.desktophd .nountrain2076218 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 596px;
  height              : 36px;
  width               : 31px;
  position            : absolute;
  margin              : 0;
  left                : 785px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .nountrain2076218 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 36px;
  width               : 31px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .nounwalk709032 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 599px;
  height              : 36px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 469px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .nounwalk709032 .path1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 30px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .nounwalk709032 .oval3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 6px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(-10.376083374deg); /* IE 9 */
  -webkit-transform   : rotate(-10.376083374deg); /* Chrome, Safari, Opera */
  transform           : rotate(-10.376083374deg);
}
.desktophd .nouncar949328 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 600px;
  height              : 32px;
  width               : 43px;
  position            : absolute;
  margin              : 0;
  left                : 618px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .nouncar949328 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 32px;
  width               : 43px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .nounbicycle386493 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 596px;
  height              : 36px;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 936px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .nounbicycle386493 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 36px;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .walk {
  background-color    : rgba(255,255,255,0.0);
  top                 : 673px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 460px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.desktophd .travelwithconscien {
  background-color    : rgba(255,255,255,0.0);
  top                 : 118px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 92px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 31.0px;
}
.desktophd .travelwithconscien .span1 {
  line-height         : 48.0px;
}
.desktophd .travelwithconscien .span2 {
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 31.0px;
  line-height         : 37.0px;
}
.desktophd .rectangle4 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 1540px;
  height              : 146px;
  width               : 1233px;
  position            : absolute;
  margin              : 0;
  left                : 92px;
  border-radius       : 6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .nounwalk7090321 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1595px;
  height              : 36px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 159px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .nounwalk7090321 .path1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 30px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .nounwalk7090321 .oval3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 6px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(-10.376083374deg); /* IE 9 */
  -webkit-transform   : rotate(-10.376083374deg); /* Chrome, Safari, Opera */
  transform           : rotate(-10.376083374deg);
}
.desktophd .rectangle5 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 1747px;
  height              : 146px;
  width               : 1233px;
  position            : absolute;
  margin              : 0;
  left                : 92px;
  border-radius       : 6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .rectangle6 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 1959px;
  height              : 146px;
  width               : 1233px;
  position            : absolute;
  margin              : 0;
  left                : 92px;
  border-radius       : 6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .nouncar9493281 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1804px;
  height              : 32px;
  width               : 43px;
  position            : absolute;
  margin              : 0;
  left                : 148px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .nouncar9493281 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 32px;
  width               : 43px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .nouncar9493282 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2016px;
  height              : 32px;
  width               : 43px;
  position            : absolute;
  margin              : 0;
  left                : 148px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .nouncar9493282 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 32px;
  width               : 43px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .drive {
  background-color    : rgba(255,255,255,0.0);
  top                 : 673px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 620px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.desktophd .transit {
  background-color    : rgba(255,255,255,0.0);
  top                 : 673px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 774px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.desktophd .bike {
  background-color    : rgba(255,255,255,0.0);
  top                 : 673px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 944px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.desktophd .rectangle7 {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 718px;
  height              : 3px;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 419px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .distancetravelled {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1595px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 290px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.desktophd .carbonfootprint {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1595px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 804px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.desktophd .distancetravelled1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1804px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 287px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.desktophd .distancetravelled2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1804px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 801px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Light", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 36.0px;
}
.desktophd .path2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1453px;
  height              : 2px;
  width               : 226px;
  position            : absolute;
  margin              : 0;
  left                : 433px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}